@page "/"
@inject IRepoRangerService RepoRangerService
@using RepoRanger.Application.Sources.Queries.GetSourceDetails
@using RepoRanger.App.Services
@using RepoRanger.Application.Abstractions.Interfaces
@attribute [StreamRendering]

<PageTitle>Sources</PageTitle>

<h1>Sources</h1>

@if (_sourceDetails == null)
{
    <p><em>@TablePlaceholder</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Parse Date</th>
                <th>Name</th>
                <th>Default Branch</th>
                <th>Unique Projects</th>
                <th>Total Dependencies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var source in _sourceDetails)
            {
                <tr>
                    <td>@source.ParseTime.ToShortDateString()</td>
                    <td>@source.Name</td>
                    <td>@source.DefaultBranchName</td>
                    <td>@source.ProjectsCount</td>
                    <td>@source.DependenciesCount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string TablePlaceholder = "Loading...";
    
    private IReadOnlyCollection<SourceDetailVm>? _sourceDetails;

    protected override async Task OnInitializedAsync()
    {
        var result = await RepoRangerService.GetSourceDetailsAsync();
        
        if (result is null)
        {
            TablePlaceholder = "No Sources...";
            return;
        }
        
        _sourceDetails = result.Sources;
    }
}
